@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spring-pink: #ffb7c5;
  --spring-green: #98fb98;
  --spring-yellow: #fff4bd;
  --spring-lavender: #e6e6fa;
}

@layer base {
  body {
    color: #4a5568; /* text-gray-800 */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif; /* font-serif */
  }
}

/* Aseguramos que las secciones tengan un fondo semi-transparente */
section {
  position: relative;
  backdrop-filter: blur(4px); /* Adjust the blur value as needed */
}

/* Ajustamos los fondos de las secciones para que sean semi-transparentes */
section:before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1); /* 10% de opacidad */
  z-index: -1;
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

.slide-up {
  animation: slideUp 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


